body {
    background: darkslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header {
    width: 30vw;
    margin: 10vw auto;
    text-align: center;
}
.header > img{
    width: 20vw;
}
.header > h1{
    color: darkgray;
    font-weight: lighter;
    font-size: 3vw;
}
.ptable{
    position: relative;
    margin-left: 0;
}
.ptable2{
    position: relative;
    top: 40vw;
    margin-left: 0;
}
.item {
    font-size: 1vw;
    width: 5vw;
    height: 5vw;
    background: darkcyan;
    position: absolute;
    /* border: solid darkslategray 1px; */
}
.item > span{
    position: absolute;
    display: block;
}
.item-num{
    height: 1vw;
    top: 4vw;
    left: 0;
    font-weight: lighter;
    transform: translateX(20%) translateY(-25%);
}
.item-name{
    top: 2.5vw;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2vw;
}
.item-atom{
    text-align: right;
    width: 5vw;
    left: 0;
    transform: translateX(-10%) translateY(25%);
    font-weight: lighter;
}
.green{
    border: darkturquoise solid 1px;
}
.green:hover{
    background: darkturquoise;
}
.orange{
    border: darksalmon solid 1px;
}
.orange:hover{
    background: darksalmon;
}
.yellow{
    border: darkgray solid 1px;
}
.yellow:hover{
    background: darkgray;
}
.pink{
    border: darkseagreen solid 1px;
}
.pink:hover{
    background: darkseagreen;
}
.lblue{
    border: darkslategray solid 1px;
}
.lblue:hover{
    background: darkslategray;
}
.dblue{
    border: darkslateblue solid 1px;
}
.dblue:hover{
    background: darkslateblue;
}
.lgreen{
    border: darkgreen solid 1px;
}
.lgreen:hover{
    background: darkgreen;
}
.grey{
    border: dimgray solid 1px;
}
.grey:hover{
    background: dimgray;
}
.col-1{ left: 0; }
.col-2{ left: 5.5vw; }
.col-3{ left: 11vw; }
.col-4{ left: 16.5vw; }
.col-5{ left: 22vw; }
.col-6{ left: 27.5vw; }
.col-7{ left: 33vw; }
.col-8{ left: 38.5vw; }
.col-9{ left: 44vw; }
.col-10{ left: 49.5vw; }
.col-11{ left: 55vw; }
.col-12{ left: 60.5vw; }
.col-13{ left: 66vw; }
.col-14{ left: 71.5vw; }
.col-15{ left: 77vw; }
.col-16{ left: 82.5vw; }
.col-17{ left: 88vw; }
.col-18{ left: 93.5vw; }
.row-1{ top: 0; }
.row-2{ top: 5.5vw; }
.row-3{ top: 11vw; }
.row-4{ top: 16.5vw; }
.row-5{ top: 22vw; }
.row-6{ top: 27.5vw; }
.row-7{ top: 33vw; }